# Server Port
PORT=3000

# API Keys yang sudah didapat
NEWS_API_KEY
GEMINI_API_KEY
GOOGLE_CLIENT_ID

# Secret buatan sendiri
JWT_SECRET

# Database (sesuaikan username/password postgre kamu)
DATABASE_URL